.container{

    margin-left: 15px;
    margin-right: 15px;
}

header{

    display: flex;
    justify-content: space-between;
    height: 200px;
}

a{

    text-decoration: none;
    color: black;
    font-size: 30px;
}

#video{
    margin-left: 300px;
}


/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }}
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  